#container{
    position: absolute;
    margin:auto;
    width: 1000px;
    height: 1123px;
}

#body{
    position:absolute;
    width:794px;   /* width of actual image */
    height:1123px; /* height of actual image */
    background-image: url("../img/body.png");
    background-repeat: no-repeat;
}

#background{
    bottom: 1246px;
    right: 1119px;
    position: absolute;
}

#eyes, #ears, #nose, #mouth, #clothes{
    position:absolute;
    width:794px;   /* width of actual image */
    height:1123px; /* height of actual image */
}

// eyes: 9 total

@for $i from 1 through 9 { //final number is included when using 'through' instead of 'to'
    .eyes#{$i} {
        background-image: url(../img/eyes/eyes#{$i}.png);
    }
}

// ears: 3 total

@for $i from 1 through 3 { //final number is included when using 'through' instead of 'to'
    .ears#{$i} {
        background-image: url(../img/ears/ears#{$i}.png);
    }
}

// mouth: 4 total

@for $i from 1 through 3 { //final number is included when using 'through' instead of 'to'
    .mouth#{$i} {
        background-image: url(../img/mouth/mouth#{$i}.png);
    }
}

// nose: 3 total

@for $i from 1 through 3 { //final number is included when using 'through' instead of 'to'
    .nose#{$i} {
        background-image: url(../img/nose/nose#{$i}.png);
    }
}

// clothes: 3 total

@for $i from 1 through 3 { //final number is included when using 'through' instead of 'to'
    .clothes#{$i} {
        background-image: url(../img/clothes/clothes#{$i}.png);
    }
}